extends mobile

append header
    script( src='/js/lib/dollar.js' )
    script( src='/js/controller.js' )
    script
        != "var gameId = '" + gameId + "';"
    script
        != 'var tweakables = ( function( module ){'
        != '  module = {};'
        != tweakables
        !=   'return module.exports;'
        != '} )()'
    link( rel='stylesheet' type='text/css' href='/css/mobile.css' )

block content
    canvas#gesture
        span The &lt;canvas&gt; element is not supported by this browser.
    p#name
    #stats
      .preview
        img(src='/img/penta.png')
      .resources
        span#resource_0
        span#resource_1
        span#resource_2
        span#resource_3
    #health
      span.wrapper
        img(src='/img/full_health.bmp')
      span.wrapper
        img(src='/img/full_health.bmp')
      span.wrapper
        img(src='/img/full_health.bmp')
      span.wrapper
        img(src='/img/full_health.bmp')
      span.wrapper
        img(src='/img/full_health.bmp')
      span.wrapper
        img(src='/img/full_health.bmp')
      span.wrapper
        img(src='/img/full_health.bmp')
      span.wrapper
        img(src='/img/full_health.bmp')
      span.wrapper
        img(src='/img/full_health.bmp')
      span.wrapper
        img(src='/img/full_health.bmp')