extends mobile

append header
    script( src='/js/lib/dollar.js' )
    script( src='/js/controller.js' )
    script
        != "var gameId = '" + gameId + "';"
    script
        != "var sprites = " + JSON.stringify(sprites) + ","
        != "    base64Sprites = {};"
        != "function loadSprite( sprite ) {"
        != "  var image = new Image();"
        != "  image.src = 'data:image/png;base64,' + sprites[sprite];"
        != "  base64Sprites[sprite] = image;"
        != "};"
        != "Object.keys( sprites ).forEach( loadSprite );"
    script
        != 'var tweakables = ( function( module ){'
        != '  module = {};'
        != tweakables
        !=   'return module.exports;'
        != '} )()'
    link( rel='stylesheet' type='text/css' href='/css/mobile.css' )

block content
    canvas#gesture
        span The &lt;canvas&gt; element is not supported by this browser.
    #settings
      img#pause( src='../img/pause.png' )
      p#name
      p#playerSide
    #stats
      .preview
        img(src='/img/penta.png')
      .resources
        span
          span#resource_0
          img(src='/img/pt1.png')
        span
          span#resource_1
          img(src='/img/pt2.png')
        span
          span#resource_2
          img(src='/img/pt3.png')
        span
          span#resource_3
          img(src='/img/pt4.png')
    #health
      each val in [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
        span.wrapper
          img.full_health(src='/img/full_health.png')