extends root

append header
	script( src="/socket.io/socket.io.js" )
	script( src="/js/lib/qrcode.min.js" )
	script
		!= 'var tweakables = ( function( module ){'
		!= '  module = {};'
		!= tweakables
		!=   'return module.exports;'
		!= '} )()'
block layout
	block content