body { 
    padding: 0;
    margin: 0;
    overflow: hidden;
}

canvas {
    background: url('../img/penta.png') center no-repeat;
    background-color: #dddddd;
}

#stats {
    background-color: #000;
    color: #fff;
    position: fixed;
    right: 0;
    top: 0;
}