body { 
    padding: 0;
    margin: 0;
    overflow: hidden;
}

canvas {
    background: url('/img/parchment.jpg');
    background-size: cover;
    float: left;
}

#stats {
    float: left;
}

#health {
    float: left;
    width:37px;
}

#health img {
    max-width: 25px;
}

.preview {
    width: 100%;
    height: 60%;
    overflow: hidden;
}
.preview img {
    margin: 0 auto;
    display: block;
    width: auto;
    height: 100%;
}
.resources {
    display: flex;
    height: 40%;
}
.resources span {
    width: 25%;
    position: relative;
}
.resources img {
    width: 100%;
    height: auto;
    position: absolute;
    bottom: 2px;
}

#health {
    display: flex;
    flex-flow: row wrap;
}

/* We tell all items to be 100% width */
#health .wrapper {
    flex: 1 100%;
}

#name {
    position: absolute;
    top: 5px;
    left: 10px;
    padding: 0;
    margin: 0;
}