body { 
    padding: 0;
    margin: 0;
    overflow: hidden;
    background: url('/img/parchment.jpg');
    background-size: cover;
}

canvas {
    float: left;
}

#stats {
    float: left;
}

#health {
    float: left;
    width:37px;
}

#health img {
    max-width: 25px;
}

.preview {
    width: 100%;
    height: 60%;
    overflow: hidden;
}
.preview img {
    margin: 0 auto;
    display: block;
    width: auto;
    height: 100%;
    display: none;
}
.preview.dark #light {
    display: none;
}
.preview.dark #dark {
    display: block !important;
}
.preview.light #dark {
    display: none;
}
.preview.light #light {
    display: block !important;
}
.resources {
    display: flex;
    height: 40%;
}
.resources > span {
    width: 25%;
    position: relative;
}
.resources > span > span {
    position: absolute;
    top: 20px;
    width: 100%;
    text-align: center;
    font-size: 24px;
}
.resources img {
    width: 100%;
    height: auto;
    position: absolute;
    bottom: 2px;
}

#health {
    display: flex;
    flex-flow: row wrap;
    height: 100%;
    position: absolute;
    right: 0;
    padding: 5px 0 5px 0;
    box-sizing: border-box;
}

/* We tell all items to be 100% width */
#health .wrapper {
    flex: 1 100%;
}

#settings {
    position: absolute;
    top: 5px;
    left: 10px;
    padding: 0;
    margin: 0;
    height: 20px;
    overflow: hidden;
}

#settings img, p {
    height: 20px;
    display: inline-block;
}

#settings img {
    width: 24px;
}

#settings p {
    margin: 0;
    display: inline-block;
    height: 20px;
}

#settings p:nth-child(2), #settings p:nth-child(3) {
    border-right: 2px solid #000;
    padding-right: 10px;
    margin-right: 10px;
}

#settings p:nth-child(3) {
    border: none;
}

#pause {
    display: none !important;
}

#splash {
    position: absolute;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}