body {
	background-color: black;
}

#qrcode {
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	width: 128px;
	height: 128px;
	top: 178px;
	z-index: 10;
	padding: 35px;
	background: white;
	border-radius: 50%;
}

#game-container {
	position: relative;
	text-align: center;
}

#game-container canvas {
	position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
